<!DOCTYPE html>
<html lang="en" dir="rtl" id="pg">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>dashboard</title>

    <link rel="stylesheet" id="b_css" href="../admin/layout/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../admin/layout/css/all.min.css" />
    <link rel="stylesheet" href="./assets/css/dashbord.css" />

</head>

<body>
    <div id="app" class="container-fluid">
        <!-- S navbar -->
        <navbar-v1></navbar-v1>
        <!-- E navbar -->

        <!-- start -->

        <div class="container-fluid">
            <div class="w-50  mx-auto py-1" style="background-color: #eee;">
                <h1 class="text-center">dashboard</h1>
            </div>

            <div class="row mt-1">


                <div class="col-md-3">
                    <div class="state lang">
                        <div class="info">
                            <span id="txt">
                                <a href="./start.html" class="text-decoration-none text-sm">
                                    Start</a>
                            </span>
                            <span id="num"></span>
                        </div>
                        <div class="icon">
                            <i class="fa fa-book fa-x2" id="ic"></i>
                        </div>
                    </div>
                </div>
                <!--  
                <div class="col-md-3">
                    <div class="state prod">
                        <div class="info">
                            <span id="txt">users</span>
                            <span id="num">{{count_users}} </span>
                        </div>
                        <div class="icon">
                            <i class="fa fa-box-open fa-x2" id="ic"></i>
                        </div>
                    </div>
                </div>


                <div class="col-md-3">
                    <div class="state buy">
                        <div class="info">
                            <span id="txt">buy</span>
                            <span id="num">150</span>
                        </div>
                        <div class="icon">
                            <i class="fa fa-shopping-cart fa-x2" id="ic"></i>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="state sel">
                        <div class="info">
                            <span id="txt">sel</span>
                            <span id="num">150</span>
                        </div>
                        <div class="icon">
                            <i class="fa fa-cash-register fa-x2" id="ic"></i>
                        </div>
                    </div>
                </div>
          

                <div class="col-md-3">
                    <div class="state lang" style="background-color: rgb(75, 113, 173);">
                        <div class="info">
                            <span id="txt"><a href="./laravel.html" class="text-decoration-none text-dark">laravel</a>
                            </span>
                            <span id="num">{{count_lang}}</span>
                        </div>
                        <div class="icon">
                            <i class="fa fa-book fa-x2" id="ic"></i>
                        </div>
                    </div>
                </div>
 -->

            </div>

        </div>






    </div>

    <!-- <script src="../admin/layout/js/bootstrap.min.js"></script>
    <script src="../admin/layout/js/popper.min.js"></script> -->
    <script src="../admin/layout/js/bootstrap.bundle.min.js"></script>

    <script src="../admin/layout/js/axios.min.js"></script>
    <script src="../admin/layout/js/vue3.js"></script>
    <script src="../admin/layout/js/dragAndDrop.js"></script>
    <script src="./assets/js/dashboard_main.js"></script>


    <script src="./assets/js/dashboard_App.js"></script>

    <script src="./component/public/NavBar.js"></script>


</body>

</html>